.app__page {
    display: flex;
}

.app__posts {
    display: flex; 
}
.app__posts::-webkit-scrollbar {
    display: none;
}


.app__posts {
  scrollbar-width: none;  
  -ms-overflow-style: none;  
}


