.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #11ffcf, #d8363a, #dd3675, #14ead5);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #9c5bdd, #5a88ec);
  }
  .gradient-custom-3 {
    /* fallback for old browsers */
    background: #ee8cc7;
  
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: -webkit-linear-gradient(to right, #11ffcf, #d8363a, #dd3675, #14ead5); */
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #11ffcf, #9f29ed);
  }
  .fontft{
    font-family:'Courier New', Courier, monospace;
    padding-top: 7;
    padding-bottom: 5px;
  }
  .separator_line{

    border: none; /* Remove default border */
  border-top: 1px solid black; /* Set the top border to create the line */
  height: 1px; /* Adjust the height of the line */
  margin: 10px 0; 
  }
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }
