.news-component{
    overflow: scroll;
    height: 880px;
}
.news-component::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.news-component {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.image-news{
    height:50%;
    width: 100%;
}
.news-card{
    background-color: #3A3B3C;    
  }

  .news-heading{
    color: white;
    text-align: center;
    font-size: 32px;
  }
  
 