.current-prices {
    flex: 0.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #fff;
    background-color: #222223;;
    height: 100%;
    border-radius: 20px;
    padding-bottom: 30px;
    margin-right: 40px;
  }
  .dialog{
      overflow-y: scroll;
      scrollbar-width: none; 
      -ms-overflow-style: none;  

  }
  .dialog::-webkit-scrollbar {
      display: none;
  }

  .coin-search {
    margin-bottom: 20px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
  }

  .coin-text {
    margin-bottom: 22px;
    text-align: center;
    color: #fff;
  }
  .search-field{
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .coin-input {
    padding-left: 16px;
    width: 300px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-image: linear-gradient(
      -225deg,
      #ac32e4 0%,
      #7918f2 48%,
      #4801ff 100%
    );
  
    color: #e2e2e2;
  }
  
  .coin-input::placeholder {
    color: #e2e2e2;
  }

.coin-container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    background-color: #2e2e2f;
    color: #d7d7d7;
   
  }
  .coin-container:hover{
    cursor:pointer;
  }
  
  .coin-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 540px;
  }

  .coin-text {
    margin-bottom: 32px;
    text-align: center;
  }
  
  .coin {
    display: flex;
    align-items: center;
    padding-right: 24px;
    padding-left: 10px;
    min-width: 300px;
  }
 
  .coin h1 {
    font-size: 16px;
    width: 150px;
  }
  
  .coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  
  .coin-symbol {
    text-transform: uppercase;
  }
  
  .coin-data {
    display: flex;
    text-align: right;
  
    justify-content: space-between;
  }
  
  .coin-price {
    width: 110px;
  }
  
  .coin-percent {
    width: 100px;
  }
  
  .red {
    color: #f00606;
  }
  
  .green {
    color: #11d811;
  }